{% extends 'layouts/base.html' %}

{% block content %}

<h1 class="text-center">Create Operation</h1>

<form enctype="multipart/form-data" action="/wallet/{{ wallet.id }}/operation/create/type/{{ form.type_id.data }}" method="post">

    {% for field in form %}
        <div class="form-group">
            {{ field.label }}
            {% if field.name == 'image' %}
                {{ field(class_="form-control-file") }}
            {% else %}
                {{ field(class_="form-control") }}
            {% endif %}
        </div>
    {% endfor %}
    <button type="submit" class="btn btn-dark">Submit</button>
</form>

{% endblock content %}